<h1 mat-dialog-title>Add Sales</h1>
<div mat-dialog-content>
  <form class="form" #addSales="ngForm" fxLayout="column">
    <mat-form-field>
      <input
        required
        ngModel
        #name="ngModel"
        name="name"
        matInput
        placeholder="Name"
        [(ngModel)]="data.name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #phone="ngModel"
        name="phone"
        matInput
        placeholder="Phone"
        [(ngModel)]="data.phone"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #address="ngModel"
        name="address"
        matInput
        placeholder="Address"
        [(ngModel)]="data.address"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #email="ngModel"
        name="email"
        matInput
        placeholder="email"
        [(ngModel)]="data.email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #attr3="ngModel"
        name="attr3"
        matInput
        placeholder="Password"
        [(ngModel)]="data.attr3"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #gstin="ngModel"
        name="gstin"
        matInput
        placeholder="gstin"
        [(ngModel)]="data.gstin"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #pan="ngModel"
        name="pan"
        matInput
        placeholder="pan"
        [(ngModel)]="data.pan"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #product_category="ngModel"
        name="product_category"
        matInput
        placeholder="product_category"
        [(ngModel)]="data.product_category"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #attr1="ngModel"
        name="attr1"
        matInput
        placeholder="attr1"
        [(ngModel)]="data.attr1"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        #attr2="ngModel"
        name="attr2"
        matInput
        placeholder="attr2"
        [(ngModel)]="data.attr2"
      />
    </mat-form-field>
    <button type="button" mat-raised-button (click)="gst_img.click()">
      Upload GST Image
    </button>
    <input
      hidden
      #gst_img
      type="file"
      name="gst_img"
      (change)="onFileChangeGst($event)"
      multiple="false"
    />
    <img [src]="gst_img" style="height: 20vh" alt="" />
    <button type="button" mat-raised-button (click)="pan_img.click()">
      Upload Pan Image
    </button>
    <input
      hidden
      #pan_img
      type="file"
      name="pan_img"
      (change)="onFileChangePan($event)"
      multiple="false"
    />
    <img [src]="pan_img" style="height: 20vh" alt="" />
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!addSales.valid"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
